.search-title {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: #333;
    margin: 40px 0 20px 0;
}

.searched-products {
    display: flex;
    flex-wrap: wrap;
    gap: 57px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;

    .no-product {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;
    }

    li {

        max-width: 261px;
        width: 100%;
        height: 400px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #9090902e;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        &:hover {
            box-shadow: rgba(69, 156, 182, 0.38) 0px 10px 36px 0px, rgba(58, 158, 171, 0.319) 0px 0px 0px 1px;
        }

        &:active {
            box-shadow: rgba(71, 69, 182, 0.38) 0px 10px 36px 0px, rgba(58, 60, 171, 0.319) 0px 0px 0px 1px;
        }

        img {
            width: 241px;
            height: 241px;
            object-fit: cover;
            margin-bottom: 5px;
        }

        h5 {
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            color: #111820;
            margin-bottom: 5px;
        }

        h4 {
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: #111820;
            margin-bottom: 5px;
        }

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #404040;
        }

        .heart-icon {
            align-self: flex-end;
            margin-right: 5px;
            font-size: 25px;
        }

        .cart-btn {
            color: #3498CA;
            background-color: #FFF;
            border: 2px solid #3498CA;

            &:hover {
                opacity: 80%;
            }
        }

        .remove-btn {
            color: crimson;
            border: 2px solid crimson;

            &:hover {
                opacity: 80%;
            }
        }
    }
}